.home {
    /* The image used */
    background-image: url('./images/code1.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

h1 {
  white-space: nowrap;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.glyphicon.glyphicon-envelope {
    font-size: 75%;
    top: 2px;
}

.introduction {
    /* The image used */
    /*background-image: url('./images/i5.jpg');*/
    background-color: #222233;
    /*background-color: Olive*/

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.education {
    /* The image used */
    background-image: url('./images/geisel3.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills {
  height: 66%;

  background-color: #0091ea;
  padding-top: 60px;
}

#logo {
  height: 34%;
}

.projects {
    /* The image used */
    /*background-color: #00BFFF;*/
    background-color: green;
    /*background-color: #222233;*/

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#CV {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 200%;
}

#CV:hover {
    color: green;
}

.connect {
    /* The image used */
    background-image: url('./images/luma.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
